body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}


.signup-page {
  padding-top: 120px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  flex-grow: 1;

  background-image: url('../Images/signUp.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}


.signup-container {
  max-width: 600px;
  width: 100%;
  padding: 2.5rem;
  border-radius: 12px;
  background-color: rgba(230, 240, 250, 0.95);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.signup-container h2 {
  color: #003366;
  font-weight: bold;
}

.signup-container label {
  margin-top: 1rem;
  font-weight: 600;
  color: #003366;
  display: block;
}

.signup-container input,
.signup-container select {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: #34495e;
}

.signup-container .btn-submit {
  background-color: #003366;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-container .btn-submit:hover {
  background-color: #001a33;
}


